@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@400;600&display=swap');

/*hello*/
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #FFF9C4;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

main {
    width: 60%;
    min-width: 700px;
    margin: 0 auto;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #81D4FA;
    width: 100%;
    height: 4rem;
    white-space: nowrap;
}


.nav-elements {
    display: flex;
    width: min-content;
    height: 100%;
}

.nav-elements span {
    display: flex;
    align-items: center;
    border-right: black solid 1px;
    white-space: nowrap;
}

.nav-elements span:last-of-type {
    border-right: none;
}

nav a {
    display:flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #FFF9C4;
    height: 100%;
}

nav a:hover {
    background-color: #FFF9C4;
    color: black;
}

header {
    text-align: center;
    margin: 0, auto;
    background-color: #81D4FA;
    border-radius: 10px;
}

.subjects-overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    background-color: #fff492;

    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.subjects-overview h2 {
    grid-column: 1/-1;
    text-align: center;
}

.subject {
    background-color: #f9f2b2;
    padding: 10px;
    border-radius: 10px
}


#schedule {
    width: 100%;
    background-color: #fff492;
    border-radius: 10px;

    margin-bottom: 50px;
}

#schedule h2, #schedule td{
    text-align: center;
}

th {
    background-color: #ffe600;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

td {
    background-color: #f9f2b2;
    border-radius: 10px;
}

.spacing {
    background-color: #fff492;
}

table {
    font-size: 1.7rem;
    margin: 0 auto;
    width: 100%;
    border-spacing: 1rem;
}

.activities {
    display: flex;
    flex-direction: column;
    background-color: #fff492;
    border-radius: 15px;
    font-size: 2rem;
    margin-bottom: 50px;
}

.activities h2 {
    text-align: center;
}

.activity-figure-right {
    display: grid;
    background-color: #f9f2b2;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.activity-figure-right img {
    grid-column: 2/3;
    border-radius: 15px;
}

.activity-figure-right figcaption {
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}


.activity-figure-left {
    display: grid;
    background-color: #f9f2b2;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.activity-figure-left img {
    border-radius: 15px;
    grid-column: 1/2;
}

.activity-figure-left figcaption {
    grid-column: 2/3;
    text-align: center;
}

#announcements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 10px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #fff492;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.announcement {
    background-color: #f9f2b2;
    border-radius: 15px;
    padding: 10px;
    height: 100%;
}

#announcements h2 {
    text-align: center;
    grid-column: 1/3;
}

#teachers-info {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #fff492;
    text-align: center;
    margin-bottom: 30px;
}

#teachers-info figure {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    column-gap: 10px;
    background-color: #f9f2b2;
    border-radius: 15px;
}


#teachers-info figcaption {
    width: 50%;
    text-align: center;
}

#teachers-info figure img {
    grid-row: 1 / -3 ;
    width: 70%;
    max-width: 300px;
    border-radius: 15px;
}   

#about-us {
    background-color: #fff492;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
}

#about-us p {
    background-color: #f9f2b2;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
}

footer {
    background-color: #81D4FA;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 60px;
}

footer p {
    margin: 0;
}
footer .socials {
    display: flex;
    justify-content: center;
    width: 33%;
    height: 100%;
    font-size: 40px;
}

footer a {
    text-decoration: none;
    color:#f9f2b2
}


footer .socials span {
    display: block;
    height: 100%;
    width: 100px;
    border-right: black solid 1px;
}

footer .socials span:last-of-type {
    border-right: none;
}

footer .socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #f9f2b2;
}

footer .socials a:hover {
    background-color: #FFF9C4;
    color: black;
}

@media (max-width: 720px) {
    nav {
        flex-direction: column;
        justify-content: center;
        height: 70px;
    }

    nav h1 {
        margin: 0;
    }

    main {
        min-width: 200px;
        width: 500px;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    table {
        font-size: 1.2rem;
    }

    .teachers-image {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    main {
        width: 95%;
        font-size: 1.5rem;
    }

    .subjects-overview{
        grid-template-columns: 1fr 1fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100px;
    }

    .socials {
        grid-column: 1/-1;
        grid-row: 1/2;
        margin: 0 auto;
    }

    p {
        grid-row: 2/3
    }

    address {
        grid-row: 2/3
    }

    .activities figure figcaption {
        font-size: 1.3rem;
    }

    #schedule {
        height: 400px
    }

    table {
        font-size: 1.3rem;
        height: 80%
    }

    .subjects-overview {
        grid-template-columns: 1fr;

    }

    .subject {
        grid-column: 1/2;
    }

    .activity-figure-left {
        display: flex;
        flex-direction: column;
    }

    .activity-figure-right {
        display: flex;
        flex-direction: column;
    }

    #announcements {
        grid-template-columns: 1fr;
    }

    .announcement {
        grid-column: 1/2;
    }
}

@media screen and (max-width: 450px) {
    table {
        
        font-size: 1.1rem;
    }
}